/* Coolors Exported Palette - https://coolors.co/d7cdcc-3d0036-ffffff-59656f-7272ab */

/* CSS HEX */
--pale-silver: #d7cdccff;
--dark-purple: #3d0036ff;
--white: #ffffffff;
--black-coral: #59656fff;
--dark-blue-gray: #7272abff;

/* CSS HSL */
--pale-silver: hsla(5, 12%, 82%, 1);
--dark-purple: hsla(307, 100%, 12%, 1);
--white: hsla(0, 0%, 100%, 1);
--black-coral: hsla(207, 11%, 39%, 1);
--dark-blue-gray: hsla(240, 25%, 56%, 1);

/* SCSS HEX */
$pale-silver: #d7cdccff;
$dark-purple: #3d0036ff;
$white: #ffffffff;
$black-coral: #59656fff;
$dark-blue-gray: #7272abff;

/* SCSS HSL */
$pale-silver: hsla(5, 12%, 82%, 1);
$dark-purple: hsla(307, 100%, 12%, 1);
$white: hsla(0, 0%, 100%, 1);
$black-coral: hsla(207, 11%, 39%, 1);
$dark-blue-gray: hsla(240, 25%, 56%, 1);

/* SCSS RGB */
$pale-silver: rgba(215, 205, 204, 1);
$dark-purple: rgba(61, 0, 54, 1);
$white: rgba(255, 255, 255, 1);
$black-coral: rgba(89, 101, 111, 1);
$dark-blue-gray: rgba(114, 114, 171, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-right: linear-gradient(90deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-bottom: linear-gradient(180deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-left: linear-gradient(270deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-top-right: linear-gradient(45deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-bottom-right: linear-gradient(135deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-top-left: linear-gradient(225deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-bottom-left: linear-gradient(315deg, #d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);
$gradient-radial: radial-gradient(#d7cdccff, #3d0036ff, #ffffffff, #59656fff, #7272abff);